# don't send hidden files and folders, they are non-essential to the 
# build process
/.*

# ignore jupyter-book artefacts
/_build

# ignore files downloaded from scihub
**/*.jp2
**/*.tif
**/*.tiff
**/*.tif.aux.xml
**/*.tiff.aux.xml
**/*.SAFE
**/*.zip
**/*.zip.incomplete
